<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070075590447-lceh0vto3lpcofjf2ikkosc72jf7761b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070075590447-lceh0vto3lpcofjf2ikkosc72jf7761b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070075590447-e9q3n7ukk09ae6k8ftpup7ni42lv7bie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVoOdicNNDGnVQ8MWcOZZSJoqibnT02uA</string>
	<key>GCM_SENDER_ID</key>
	<string>1070075590447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-454aa</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-454aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070075590447:ios:6f01aee7596188c6dd53da</string>
</dict>
</plist>